.react-datepicker-wrapper {
    width: 100%;

    /* height: calc(1.5em + 1rem + 2px); */
    /* padding: .5rem 1rem; */
    /* font-size: 1.25rem; */
    /* line-height: 1.5; */
    border-radius: .3rem;

    /* padding: 18px 8px; */
    /* height: 40px; */
    /* font-size: 1.6rem; */
    margin-bottom: 5px;
    font-size: 1.4rem;
    height: calc(1.5em + 1rem + 2px);
}

/*  */
.react-datepicker {
    font-size: 1.2em;
  }
  /* .react-datepicker__header {
    padding-top: 0.8em;
  } */
  .react-datepicker__month {
    margin: 0.4em 1em;
  }
  .react-datepicker__day-name, .react-datepicker__day {
    /* min-width: 1.9em; */
    min-width: 2.2em;
    line-height: 1.9em;
    margin: 0.166em;
  }
  .react-datepicker__current-month {
    font-size: 1em;
  }
  .react-datepicker__navigation {
    /* top: 1em; */
    line-height: 1.7em;
    border: 0.45em solid transparent;

    height: 24px;
    width: 24px;
  }
  .react-datepicker__navigation--previous {
    border-right-color: #ccc;
    /* left: 1em; */
    left: 0.5em;
  }
  .react-datepicker__navigation--next {
    border-left-color: #ccc;
    /* right: 1em; */
    right: 0.5em;
  }

  /*  */
