* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100%;
}

.contendor_pag {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contendor_nav {
    /* width: 26%; */
    width: 20%;
    /* height: 100%; */
    height: 100vh;
    font-size: 2rem;
    background-color: #00C2D0;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo_nav {
    width: 200px;
    max-width: 100%;
    margin-left: 5px;
    /* heigth: auto; */
}

.btn_nueva_solicitud {
    margin: 30px 0;
    padding: 8px 20px;
    font-size: 1.8rem;
    color: #1D94D5;
}

.nav_link {
    margin-bottom: 1rem;
    color: #FFFFFF;
}
.nav_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.seccion_principal {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor_principal {
    /* min-width: 70%; */
    width: 70%;
    /* min-height: 70%; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #0087D0;
    /* color: #FFFFFF;
    font-size: 2.6rem; */
}

.titulo_panel_principal {
    color: #FFFFFF;
    font-size: 2.4rem;

    margin: 20px 0 30px 0;
}

.form_principal {
    width: 100%;
}

.row_input {
    margin: 20px 0;
}

.input_text {
    /* padding: 20px 8px; */
    padding: 18px 8px;
    /* height: 40px; */
    /* font-size: 1.6rem; */
    font-size: 1.4rem;

    
}

.input_date {
    /* padding: 20px 8px; */
    /* padding: 18px 8px; */
    padding: .5rem 1rem;
    /* height: 40px; */
    /* font-size: 1.6rem; */
    font-size: 1.4rem;
    width: 100%;

    border-radius: .3rem;
    border: none;
    height: calc(1.5em + 1rem + 6px);
}

.btn_solicitar_equipos {
    margin: 25px;
    font-size: 1.8rem;
    padding: 8px 14px;
    /* font-size: 2rem;
    padding: 10px 20px; */
}
.btn_confirmar_solicitud {
    margin: 25px;
    font-size: 1.8rem;
    padding: 8px 14px;

}

.form_seleccion {
    width: 100%;
    padding: 20px;
    margin: 5px 2px;
    font-size: 1.6rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-height: 70vh;
    overflow: auto;
}

.contenedor_seleccion {
    /* min-width: 70%; */
    /* width: 80%; */
    /* width: 90%; */
    width: 96%;
    /* min-height: 70%; */
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #0087D0;
    /* color: #FFFFFF;
    font-size: 2.6rem; */
}

.contenedor_seleccion_admin {
    /* min-width: 70%; */
    /* width: 80%; */
    /* width: 90%; */
    /* width: 96%; */
    width: 100%;
    height: 100vh;
    /* min-height: 70%; */
    position: relative;
    /* padding: 20px; */
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #0087D0;
    /* color: #FFFFFF;
    font-size: 2.6rem; */
}

.contenedor_protocolo {
    /* min-width: 70%; */
    /* width: 80%; */
    /* width: 90%; */
    /* width: 96%; */
    width: 100%;
    height: 100vh;
    /* min-height: 70%; */
    position: relative;
    /* padding: 20px; */
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color: #0087D0; */
    /* color: #FFFFFF;
    font-size: 2.6rem; */
}

.form_row_search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space;
}

.col_header {
    padding: 10px;
    font-weight: bold;
    text-align: center;

    /* background-color: blueviolet; */
}
.col_equipos {
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px 0;

    /* background-color: blueviolet; */
}

.search_container {
    width: 36%;
}

.input_search {
    padding: 16px 8px;
    font-size: 1.6rem;
    /* width: 20%; */
}

.checkbox_label {
    margin: 0;
    padding: 0 10px;
}


/* Home */
.contenedor_home {
    /* min-width: 70%; */
    width: 70%;
    /* min-height: 70%; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    /* background-color: #0087D0; */
}

.hero_home {
    width: 270px;
    height: 350px;
    margin: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.2rem;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #00C2D0;
}



.hero_image {
    width: auto;
    height: 180px;
    margin:  0 0 35px 0;
}

.hero_image_2 {
    width: auto;
    height: 170px;
    margin:  0 10px 35px 0;
}

/* Lista Equipos */
.form_lista_equipos {
    width: 100%;
    padding: 20px;
    font-size: 1.6rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    /* max-height: 70vh; */
    /* max-height: 78vh; */
    max-height: 82vh;
    margin: 5px 0;
    overflow: auto;
}

.form_lista_equipos_admin {
    width: 100%;
    /* padding: 20px; */
    padding: 10px;
    font-size: 1.6rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* max-height: 70vh; */
    /* max-height: 78vh; */
    /* max-height: 100vh; */
    height: 100%;
    margin: 5px 0;
    overflow: auto;
}

.container_table {
    width: max-content;
    /* overflow: auto; */
}

.col_lista {
    text-align: center;
    border: 1px solid gray;
    padding: 5px 0;

    /* background-color: blueviolet; */
}


.row_seleccion {
    flex-wrap: nowrap;
    /* width: max-content; */
}

.th_table_equipos {
    text-align: center;
    vertical-align: middle !important;
    min-width: 110px;
    /* min-width: 120px; */

    position: sticky;
    top: 1px;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
    border-bottom-width: 2px;
    z-index: 300;
    /* position: sticky;
    top: 1px;
    background-color: #fff; */
}

.th_simple {
    text-align: center;
    vertical-align: middle !important;
    position: sticky;
    top: 1px;
    background-color: #fff;
    border-bottom-width: 2px;
}

.td_table_center {
    text-align: center;
    vertical-align: middle !important;
}


.td_table_state {
    text-align: center;
    vertical-align: middle;
    background-color: #fbfbfb;
    position: sticky;
    right: 1px;
    z-index: 200;
}
.td_state_header {
    z-index: 600;
    background-color: #fbfbfb;
}


.td_vertical_middle {
    vertical-align: middle !important;
}

.td_horizontal_center {
    text-align: center;
}

.alert_invalidDates {
    margin: 0 15px;
    font-size: 1.2rem;
    display: none;
}

.alert_invalidMail {
    margin: 0 15px;
    font-size: 1.2rem;
    display: none;
}

.alert_allFields {
    margin: 0 15px;
    font-size: 1.2rem;
    /* font-weight: 300; */
    /* color: red; */
    display: none;
}

.alert_not_equipo {
    display: none;
}

.alert_success_equipo {
    display: none;

}


.successMessage {
    position: absolute;
    /* width: 400px; */
    /* height: 200px; */
    /* background-color: #00C2D0; */
    margin: auto auto;
    display: none;
}

.processMessage {
    position: absolute;
    margin: auto auto;
    display: none;
}


.btn_actualizar_db {
    /* margin: 25px; */
    margin: 15px;
    font-size: 1.8rem;
    padding: 8px 14px;

}

/* .table_header { */
.table {
    /* position: fixed; */
    /* top: 0; */
    border-collapse: separate;
}




/*  */
.panel_formulario {
    /* display: block; */
    display: flex;
}

.panel_solicitar {
    display: none;
    /* display: flex; */
}


.admin_search {
    margin: 0 0 20px 0;
    align-self: flex-start;
}


.lista_search {
    margin: 0 0 20px 0;
    /* float: left; */
    align-self: flex-start;
}


.selectEspecialista {
    width: 80px;
}




.img_protocolo {
    /* width: 100%; */
    /* height: auto; */
    height: 100%;
    margin: 5px -5px;
    overflow: scroll;
}